<!DOCTYPE html>
<html>
<head>
  <title>mybookrss: release reminder</title>
</head>
<body>
<form id="rssform" method="GET" action="/rss">
  <label>Keywords:</label><input name="keywords" />
  <select id="locale" name="locale">
    <option value="ca">ca (www.amazon.ca)</option>
    <option value="de">de (www.amazon.de)</option>
    <option value="fr">fr (www.amazon.fr)</option>
    <option value="jp">jp (www.amazon.co.jp)</option>
    <option value="uk">uk (www.amazon.co.uk)</option>
    <option value="us">us (www.amazon.com)</option>
  </select>
  <input type="submit" value="Rss" />
</form>
</body>
</html>
